/* chris purple: #190027 */
body {
    background-color: #e0f0df !important;
}

#mainNav {
    background-color: pink !important;
}

#mainNav a {
    color: #BA4C63 !important;
}

#mainNav button {
    background-color: #311f3b !important;
    color: #BA4C63 !important;
}

#mainNav a:hover {
    color: white !important;
}

#mainNav .active {
    background-color: #311f3b !important;
    color: white !important;
}

.masthead, #about, footer, .copyright {
    background-color: #311f3b !important;
}
.masthead, #about h2 {
    color: pink !important;
}

.masthead-avatar {
    border: 8px solid white;
    border-radius: 50%;
}

#portfolio h2, #contact h2 {
    color: #311f3b !important;
}
/* 
#portfolio, #about {
    color: #190027;
} */

#contactFormspree {
    font-size: .8em !important;
}
#contactFormspree input, #contactFormspree textarea {
    border-bottom: 1px grey solid;
}

#contactFormspree button {
    background-color: #311f3b !important;
    border: #311f3b !important;
}
#contactFormspree button:hover {
    color: pink;
}

#about {
    padding-top: 0px !important;
}

#music {
    background-color: #311f3b !important;
    color: white !important;
}

#music h2 {
    color: pink;
}

.portfolio-item-caption:hover {
    background-color: blue;
}

.twoColumns {
    column-count: 2;
    orphans: 1;

}
.insideColumns {
    column-span: 2;
}

@media (max-width: 400px) {
    .navbar-brand {
        font-size: 1.05em;
    }

}
@media (max-width: 991px) {
    .navbar li {
        text-align: center;
    }

    .youtube {
        padding-top: 4em;
    }
}

@media (max-width: 750px) {
    .twoColumns { 
        column-count: 1;
    }
    .insideColumns {
        column-span: 1;
    }
}
/* 
.divider-custom-line {
    color: pink !important;
} */

#contributionsPage {
    background-color: #311f3b;
    color: white;
    text-align: left;
    margin: auto;
    width: 70%;
}

.img-fluid {
    max-width: 100%;
    height: calc(width * .75);
  }
