/* chris purple: #190027 */
body {
    background-color: #e0f0df !important;
}

#mainNav {
    background-color: pink !important;
}

#mainNav a {
    color: #BA4C63 !important;
}

#mainNav button {
    background-color: #311f3b !important;
    color: #BA4C63 !important;
}

#mainNav a:hover {
    color: white !important;
}

#mainNav .active {
    background-color: #311f3b !important;
    color: white !important;
}

.masthead, #about, footer, .copyright {
    background-color: #311f3b !important;
}
.masthead, #about h2 {
    color: pink !important;
}

.masthead-avatar {
    border: 8px solid white;
    border-radius: 50%;
}

#portfolio h2, #contact h2 {
    color: #311f3b !important;
}
/* 
#portfolio, #about {
    color: #190027;
} */

#contactFormspree {
    font-size: .8em !important;
}
#contactFormspree input, #contactFormspree textarea {
    border-bottom: 1px grey solid;
}

#contactFormspree button {
    background-color: #311f3b !important;
    border: #311f3b !important;
}
#contactFormspree button:hover {
    color: pink;
}

#about {
    padding-top: 0px !important;
}

#music {
    background-color: #311f3b !important;
    color: white !important;
}

#music h2 {
    color: pink;
}

.portfolio-item-caption:hover {
    background-color: blue;
}

.twoColumns {
    column-count: 2;
    orphans: 1;

}
.insideColumns {
    column-span: 2;
}

.iframeFix {
    width:100%;
    height: 300px;
}
/* 
.youtube {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    width: 100%;
} */

/* .youtube iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
} */

#contributionsPage {
    background-color: #311f3b;
    color: white;
    text-align: left;
    margin: auto;
    width: 70%;
}

.img-fluid {
    max-width: 100%;
    height: calc(width * .75);
  }

  #contactFormspree input, #contactFormspree textarea {
    border-bottom: 1px grey solid;
}

@media screen and (max-width: 749px) {
    .navbar-brand {
        font-size: 1.05em;
    }
        .youtube {
        margin-top: 4em;
    }
    .iframefix {
        width:100%;
        height: 300px;
    }
    .navbar li {
        text-align: center;
    }
}
@media screen and (min-width: 750px) {
    .navbar li {
        text-align: center;
    }
    .twoColumns { 
        column-count: 1;
    }
    .insideColumns {
        column-span: 1;
    }
    .iframefix {
        width: 100%;
        height: 360px;
    }
}
@media screen and (min-width: 991px) {

    .iframeFix {
        width: 100%;
        height: 500px;
    }
}


/* 
.divider-custom-line {
    color: pink !important;
} */



